[run]
branch = true
omit = app/*/tests/*, app/*/migrations/*, app/app/*/urls.py, app/*/settings/*, app/*/wsgi.py, manage.py, fabfile.py
source = .

[report]
show_missing = true
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
