django
django-rest-framework
drf-nested-routers
pingparsing
easyconf
celery[redis]
influxdb
requests
django-redis
django-cors-headers

git+https://github.com/zodman/pydnsbl.git

django-test-plus
honcho
